/* Styles CSS pour centrer la page d'administration */
.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .admin-title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  .admin-table-container {
    width: 80%; /* Ajustez la largeur du tableau selon vos besoins */
  }
  